.background-full {
  &--black {
    background-color: $color--black;
  }
  &--gray {
    background-color: $color--gray;
  }
  &--light-gray {
    background-color: $color--light-gray;
  }
  &--green {
    background-color: $color--green;
  }
  &--dark-gray {
    background-color: $color--dark-gray;
  }
  &--light-black {
    background-color: $color--light-black;
  }
}
