// COLOR
$color--black: #000000;
$color--light-black: #2A2A2A;

$color--gray: #EAEBEF;
$color--dark-gray: #3B3B3B;
$color--light-gray: #F6F6F6;

$color--green: #169349;
$color--mustard: #CC6633;
$color--orange: #D6310E;
$color--yellow: #FDB22B;
$color--white: #FFFFFF;
