// FONT COLOR
$text--black: $color--black;
$text--gray: $color--gray;
$text--dark-gray: $color--dark-gray;
$text--green: $color--green;
$text--orange: $color--orange;
$text--white: $color--white;


.text--black {
  color: $text--black;
}
.text--gray {
  color: $text--gray;
}
.text--dark-gray {
  color: $text--dark-gray;
}
.text--green {
  color: $text--green;
}
.text--orange {
  color: $text--orange;
}
.text--white {
  color: $text--white;
}
